/* CSS declarations go here */

    header {

    min-height: 30px;

    }
    nav{
        top:0px;
    position: fixed;

    }
    nav ul{


        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    nav li{
        font-family: 'Oswald', sans-serif;
        font-size: 1.2em;
        line-height: 40px;
        height: 40px;
        display: inline-block;

    }
    nav a {
    text-decoration: none;
    color: #fff;
    }
li a {

}


    section{

    }
    .featured-articles-container{


        /* We first create a flex layout context */
        display: flex;

        /* Then we define the flow direction and if we allow the items to wrap
         * Remember this is the same as:
         * flex-direction: row;
         * flex-wrap: wrap;
         */
        flex-flow: column wrap;

        /* Then we define how is distributed the remaining space */
        justify-content: flex-start;





    }

    .articles-container
    {

        /* We first create a flex layout context */
        display: flex;

        /* Then we define the flow direction and if we allow the items to wrap
         * Remember this is the same as:
         * flex-direction: row;
         * flex-wrap: wrap;
         */
        flex-flow: column wrap;

        /* Then we define how is distributed the remaining space */
        justify-content: flex-start;




    }
    article
    {


    }




    /*main article inner box*/

    .featured-article-container{

        background-color: Green;




    }


    footer {

        max-width: 600px;
        margin: 0 auto;
        min-height: 10%;
        max-height: 10%;
        text-align: center;
    }









