/* CSS declarations go here */

    header {

    min-height: 30px;

    }
    nav{
        top:0px;
    position: fixed;

    }
    nav ul{

        background-color: #282828;
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    nav li{
        font-family: 'Oswald', sans-serif;
        font-size: 1.2em;
        line-height: 40px;
        height: 40px;
        border-bottom: 1px solid #888;
        display: inline-block;

    }
    nav a {
    text-decoration: none;
    color: #fff;
    }
li a {

}


    section{

    }
    .featured-articles-container{


        /* We first create a flex layout context */
        display: flex;

        /* Then we define the flow direction and if we allow the items to wrap
         * Remember this is the same as:
         * flex-direction: row;
         * flex-wrap: wrap;
         */
        flex-flow: column wrap;

        /* Then we define how is distributed the remaining space */
        justify-content: flex-start;

        min-height: 300px;



    }

    .articles-container
    {

        /* We first create a flex layout context */
        display: flex;

        /* Then we define the flow direction and if we allow the items to wrap
         * Remember this is the same as:
         * flex-direction: row;
         * flex-wrap: wrap;
         */
        flex-flow: column wrap;

        /* Then we define how is distributed the remaining space */
        justify-content: flex-start;




    }
    article
    {


    }




    /*main article inner box*/
    .article-container {

        background-color: #d0edf5;
        min-width: 33.33%;




    }
    .featured-article-container{

        background-color: Green;

        min-width: 33.33%;
        min-height: 300px;

    }

    .article-column-type {
        float: left;
        width: 100%;
        background-color: inherit;
        text-align: center;
    }

    .article-title {
        float: left;
        width: 100%;
        background-color: inherit;

        text-align: center;
    }

    .article-intro {
        float: left;
        width: 100%;
        background-color: inherit;

        text-align: center;
    }

    .article-content {
        float: left;
        width: 100%;
        background-color: inherit;

    }

    .article-date {
        float: right;
        width: 100%;
        background-color: inherit;

        text-align: center;
    }

    footer {

        max-width: 600px;
        margin: 0 auto;
        min-height: 10%;
        max-height: 10%;
        text-align: center;
    }









